<div class="nav-links">
    <a [routerLink]="['./main']">Main</a>
    <a [routerLink]="['./mas-info']">Mas información</a>
    <a [routerLink]="['./', 5]">Vuelo 5</a>
</div>

<router-outlet></router-outlet>