<form
    [formGroup]="fg"
    (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)">
    <div class="form group">
        <label for="nombre">Nombre de la ciudad 
            <span *ngIf="fg.controls['nombre'].hasError('required')" class="text-warning">Requerido!</span>
            <span *ngIf="fg.controls['nombre'].hasError('invalidName')" class="text-warning">El nombre no es valido!</span>
            <span *ngIf="fg.controls['nombre'].hasError('minLongName')" class="text-warning">El nombre debe tener {{minLongitud}} caracteres</span>
        </label>
        <ul>
            <li *ngFor="let r of searchResults">{{r}}</li>
        </ul>
        <input type="text"  class="form-control" id="nombre" placeholder="Ingresa tu nombre..." [formControl]="fg.controls['nombre']">
    </div>
    <div class="form-group">
        <label for="Imagen Url">Imagen<span *ngIf="fg.controls['nombre'].hasError('required')" class="text-warning">Debes llenar este campo!</span></label>
        <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url de la imagen" [formControl]="fg.controls['url']">
    </div>
    <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar</button>
</form>
