<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
        <span class="anchor" id="formLogin"></span>

            <!-- form card login with validation feedback -->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Ingresa tu deseo</h3>
                </div>
                <div class="card-body">
                    <app-from-destino-viaje (onItemAdded)="agregado($event)"></app-from-destino-viaje>
                </div>
            </div>
        </div>
    </div>
    
    <hr class="mb-5">
    
    <div class="row">
        <app-destino-viaje 
            *ngFor="let d of all; let i=index"
            [destino]="d"
            [position]="i+1"
            (clicked)="elegido(d)"
        ></app-destino-viaje>
    </div>
   
    <hr class="mb-5">
    
    <div class="row">
        <h5>Historial de favoritos</h5>
        <ul>
            <li *ngFor="let x of updates;">{{x}}</li>
        </ul>
    </div>
</div>