<div class="card-content">
    <div class="card-img">
        <img src="{{destino.imagenUrl}}" alt="">
        <span><h4>Posicion: {{position}}</h4>
            <h4>Votos: {{destino.votes}}</h4>
        </span>
       
    </div>
    <div class="card-desc">
        <h3>{{destino.nombre}}</h3>
        <p>Servicios</p>
        <ul>
            <li *ngFor="let s of destino.servicios">
                <span [ngSwitch]="s"> <!--Es como una condicion, 
                    si el string coincide con desayuno, se muestra, 
                    sino por default se muestra otra cosa-->
                    <i *ngSwitchCase="'desayuno'" style="color: red;">{{s}}</i>
                    <i *ngSwitchDefault>{{s}}</i>
                </span>
            </li>
        </ul>
        <div>
            <a href="#" (click)="voteUp()"> <i class="material-icons md-18 mx-2">thumb_up</i> </a>
            <a href="#" (click)="voteDown()"> <i class="material-icons md-18">thumb_down</i> </a>
            <a href="#" (click)="voteReset()"> <i class="material-icons md-18">loop</i> </a>
           
        </div>
        <a href="#" class="" (click)="ir()"><span *ngIf="destino.isSelected()" class="text-danger mx-2"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
          </svg></span>
        <span *ngIf="!destino.isSelected()" class="mx-2 text-right"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
          </svg></span></a>
        
          <a class="text-right" [routerLink]="['/destino']">Ver detalle</a>
    </div>
</div>
<!-- Existe la directiva ngNonBindable, que sirve para usar referencias como {{}} dentro de un tag html
     y que Angular los ignore, para que no nos de un error de no existe o no esta definido -->