  <div class="page-header">
      <nav class="navbar navbar-light bg-light justify-content-start">
        <a class="navbar-brand mr-2" [routerLink]="['/home']">Home</a>
        <a class="navbar-brand" [routerLink]="['/destino']">Destino</a>
        <a class="navbar-brand" [routerLink]="['/login']">Login</a>
        <a class="navbar-brand text-info" [routerLink]="['/protected']">Mis vuelos</a>
        <a class="navbar-brand text-info" [routerLink]="['/vuelos']">Vuelos</a>
        <a class="navbar-brand text-info" [routerLink]="['/reservas']">Reservas</a>

        <div style="float: right;">
          <select (change)="translate.use($event.target.value)">
            <option value="es" >Español</option>
            <option value="fr">France</option>
            <option value="en">English</option>
          </select>
        </div>
      </nav>

  </div>

  <div class="container content">
    <div class="row">
      <h1>
        {{ title }} <b [innerHTML]="'HOLA' | translate"> </b>
      </h1>
    </div>



 <router-outlet></router-outlet>

 
</div>

fecha {{time | async}}